<h1>Lista de productos</h1>
<mat-form-field appearance="fill">
  <mat-label>Filtrar</mat-label>
  <input matInput [formControl]="filter">
</mat-form-field>
<div class="table-container">
  <!-- <div class="shadow-over" *ngIf="isLoading">
    <mat-spinner color="accent"></mat-spinner>
  </div> -->

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por id"> Id </th>
      <td mat-cell *matCellDef="let item">{{ item.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let item">{{ item.name }}</td>
    </ng-container>

    <ng-container matColumnDef="shortDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción Corta </th>
      <td mat-cell *matCellDef="let item">{{ item.shortDescription }}</td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Unitario </th>
      <td mat-cell *matCellDef="let item"> C${{ item.unitPrice.toLocaleString() }}</td>
    </ng-container>

    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorías </th>
      <td mat-cell *matCellDef="let item">
        <ng-container *ngFor="let cat of getCategories(item)">
          <mat-chip color="primary" class="category-chip">
            {{ cat }}
          </mat-chip>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="imagesCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Imágenes </th>
      <td mat-cell *matCellDef="let item">{{ item.imagesCount }}</td>
    </ng-container>

    <ng-container matColumnDef="isPublished">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Público </th>
      <td mat-cell *matCellDef="let item">
        <mat-checkbox [checked]="item.isPublished" disabled></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let data; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Selecciona pagina de productos">
  </mat-paginator>
</div>
