<div class="main-container">
  <mat-toolbar color="primary" role="heading">
    <span>Rustic Shop - Panel de administración</span>
  </mat-toolbar>
  <mat-sidenav-container class="panel-container">
    <mat-sidenav position="start" opened="true" mode="side" class="sidenav">
      <mat-nav-list>
        <mat-list-item *ngFor="let link of links" [routerLink]="[link.path]">
          <mat-icon matListItemIcon>{{ link.iconName }}</mat-icon>
          <span matListItemTitle >{{ link.label }}</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="panel-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
