<div mat-dialog-content *ngIf="isBusy">
  <mat-spinner></mat-spinner>
</div>

<div [hidden]="isBusy">
  <h1 mat-dialog-title>{{ title }}</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="fields">
      <mat-form-field>
        <mat-label>Fecha de compra</mat-label>
        <input
          matInput
          required
          formControlName="date"
          [matDatepicker]="picker" />
        <mat-hint> MM/DD/YYYY </mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngFor="let error of getErrors(form.get('date')!, 'Fecha')">
          {{ error }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label> Proveedor </mat-label>
        <mat-select formControlName="providerId">
          <mat-option
            *ngFor="let provider of availableProviders"
            [value]="provider.id">
            {{ provider.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div mat-dialog-actions align="end">
        <button
          mat-dialog-close
          mat-button
          color="warn"
          [disabled]="isBusy"
          type="button">
          <mat-icon>cancel</mat-icon> Cancelar
        </button>
        <button
          mat-flat-button
          color="primary"
          [disabled]="isBusy || form.invalid"
          type="submit">
          <mat-icon>save</mat-icon> Guardar
        </button>
      </div>
    </div>
  </form>
</div>
