.fields {
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .big {
      flex: 3;
    }

    .medium {
      flex: 2;
    }

    .small {
      flex: 1;
    }

    .margin-left {
      margin-left: 15px;
    }
  }

  mat-form-field {
    width: 100%;
  }

  .margin-top {
    margin-top: 15px;
  }
}

.right-align {
  text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}
