<div class="new-product">
  <h1>Nuevo Producto</h1>

<mat-stepper orientation="horizontal" linear>
  <mat-step [stepControl]="form">
    <form [formGroup]="form" class="mat-form">
      <ng-template matStepLabel>Describe el producto</ng-template>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngFor="let error of getErrors(form.get('name')!, 'Nombre')">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción Corta</mat-label>
        <input matInput formControlName="shortDescription" #shortDescInput>
        <mat-error *ngFor="let error of getErrors(form.get('shortDescription')!, 'Descripción Corta')">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngFor="let error of getErrors(form.get('description')!, 'Descripción')">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Precio Unitario</mat-label>
        <input matInput formControlName="unitPrice" type="number" placeholder="0">
        <span matTextPrefix>C$&nbsp;</span>
        <mat-error *ngFor="let error of getErrors(form.get('unitPrice')!, 'Precio Unitario')">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-checkbox checked="false">Publicar</mat-checkbox>

      <div class="row">
        <button mat-button color="warn" [routerLink]="['/admin/panel/productos']">Cancelar</button>
        <button mat-flat-button color="primary" matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="featuresForm" optional>
    <form class="mat-form" [formGroup]="featuresForm">
      <ng-template matStepLabel>Asigna las características</ng-template>

      <h3>Categorías</h3>

      <mat-chip-listbox multiple>
        <mat-chip-option *ngFor="let cat of availableCategories" [value]="cat.id">
          {{ cat.name }}
        </mat-chip-option>
      </mat-chip-listbox>

      <mat-divider></mat-divider>

      <div class="feature-container">
        <div class="feature-input">
          <h3>Característica nueva</h3>
          <mat-form-field>
            <mat-label>
              Nombre
            </mat-label>
            <mat-select formControlName="feature">
              <mat-option *ngFor="let feature of availableFeatures" [value]="feature">
                {{ feature.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of getErrors(featuresForm.get('feature')!, 'Característica')">
              {{ error }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Contenido</mat-label>
            <input matInput formControlName="content">
            <mat-error *ngFor="let error of getErrors(featuresForm.get('content')!, 'Contenido')">
              {{ error }}
            </mat-error>
          </mat-form-field>

          <button mat-raised-button type="submit" color="primary" (click)="addFeature()" [disabled]="featuresForm.invalid">
            <mat-icon>add</mat-icon>
            Agregar característica
          </button>
        </div>

        <div class="feature-preview">
          <h3>Previsualización</h3>
          <mat-list>
            <mat-list-item *ngFor="let feature of selectedFeatures">
              <mat-icon matListItemIcon (click)="removeFeature(feature)">delete</mat-icon>
              <span matListItemTitle>{{ feature.name }}</span>
              <span matListItemLine>{{ feature.content }}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>

      <div class="row">
        <button mat-button color="secondary" matStepperPrevious type="button">Anterior</button>
        <button mat-flat-button color="primary" type="button" (click)="onSubmit()">
          {{ this.id ? "Guardar cambios" : "Crear" }}
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>

</div>
