<div class="new-product">
  <h1>Nuevo Producto</h1>

<mat-stepper orientation="horizontal" linear>
  <mat-step [stepControl]="form">
    <form [formGroup]="form" class="mat-form">
      <ng-template matStepLabel>Describe el producto</ng-template>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngFor="let error of getErrors(form.get('name')!, 'Nombre')">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Marca</mat-label>
        <mat-select formControlName="brandId">
          <mat-option *ngFor="let brand of brands" [value]="brand.id">
            {{ brand.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngFor="let error of getErrors(form.get('brandId')!, 'Marca')">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción Corta</mat-label>
        <input matInput formControlName="shortDescription" #shortDescInput>
        <mat-error *ngFor="let error of getErrors(form.get('shortDescription')!, 'Descripción Corta')">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngFor="let error of getErrors(form.get('description')!, 'Descripción')">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-checkbox checked="false" formControlName="isPublished">Publicar</mat-checkbox>

      <div class="row">
        <button mat-button type="button" color="warn" [routerLink]="['/admin/panel/productos']">Cancelar</button>
        <button mat-flat-button color="primary" (click)="onSubmit()">Terminar</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>

</div>
