table {
  width: 100%;
  table-layout: fixed;
}

mat-paginator {
  margin-bottom: 15px;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-top: 15px;
}

.mat-column-actions {
  text-align: center;

  button {
    margin-left: 10px;
  }
}

.app-table-container {
  margin: 25px;

  button {
    margin-top: 15px;
  }
}

.app-table-loading-view {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.50);
  position: absolute;
  z-index: 1000;
}
