<mat-card>
  <mat-card-content>
    <button
      matTooltip="Ir a inicio"
      class="back-button"
      mat-icon-button
      [routerLink]="['/']">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h3>Restablecimiento de contraseña</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <mat-icon matIconPrefix>mail</mat-icon>
        <input
          matInput
          required
          formControlName="email"
          type="email"
          placeholder="ejemplo@ejemplo.com" />
        <mat-error
          *ngFor="
            let error of getErrors(form.get('email')!, 'Correo electrónico')
          ">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="this.form.invalid || isBusy">
        Solicitar
      </button>
    </form>
  </mat-card-content>
</mat-card>
