.loading-shade {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  margin-top: 15px;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-top: 15px;
}

.mat-column-actions {
  text-align: center;

  button {
    margin-left: 10px;
  }
}
