<div class="products">

  <h2>Productos</h2>

  <button mat-flat-button color="primary"
    *ngIf="products"
    (click)="onCreateProduct()">
    <mat-icon>add</mat-icon>
    Agregar producto
  </button>

  <mat-form-field>
    <input matInput #filter (keyup)="loadData(filter.value)"
      placeholder="Filtra por nombre">
  </mat-form-field>

  <table matSort class="mat-elevation-z8" mat-table [dataSource]="products"
          (matSortChange)="loadData()"
          [matSortActive]="defaultSortColumn"
          [matSortDirection]="defaultSortOrder">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <ng-container matColumnDef="shortDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción Corta </th>
      <td mat-cell *matCellDef="let product">{{ product.shortDescription }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let product">{{ product.description }}</td>
    </ng-container>

    <ng-container matColumnDef="isPublished">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Público </th>
      <td mat-cell *matCellDef="let product">
        {{ product.isPublished ? 'Si' : 'No' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let product">
        <button mat-icon-button matTooltip="Editar producto" color="primary"
          (click)="onUpdateProduct(product.id)"
          [disabled]="isLoadingAction">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Borrar producto" color="warn"
          (click)="onDelete(product)"
          [disabled]="isLoadingAction">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [hidden]="!products"
                  [pageSizeOptions]="[10, 20, 50]"
                  [pageSize]="10"
                  (page)="getData($event)"
                  showFirstLastButtons
                  aria-label="Selecciona la pagina de productos"
                  class="mat-elevation-z8">
  </mat-paginator>

</div>
