:host ::ng-deep table {
  white-space: nowrap;
}

:host ::ng-deep {

  .mat-column-actions {
    width: 280px;
  }

  .mat-column-isPublished {
    width: 150px;
    text-align: center;
  }

  .mat-column-stock {
    width: 120px;
    text-align: center;
  }
}
