<body>
    <h1>¡Hola <strong>{0}</strong>! Escuchamos que deseas restablecer tu contraseña.</h1>
    <p>Por favor dirigete al siguiente enlace para poder restablecer la contraseña.</p>
    <a href="{1}">{1}</a>
    <p>Si no has sido tú quien ha solicitado el restablecimiento, puedes ignorar este mensaje.</p>
    <p>¡Que tengas un buen dia, <strong>{0}</strong>!</p>
    <p><em>Este mensaje fue autogenerado, esta dirección de correo electrónico solamente se utiliza para enviar mensajes.</em></p>
</body>