.feature {
  width: 100%;
  height: 100%;
  padding: 25px;
}

mat-form-field {
  display: block;
  margin: 10px 0;
}

.loading-view {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-right: 10px;
}
