<mat-card>
  <mat-card-content>
    <button
      [disabled]="isBusy"
      matTooltip="Ir a inicio"
      class="back-button"
      mat-icon-button
      [routerLink]="['/']">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <button
      [disabled]="isBusy"
      matTooltip="Ir a inicio de sesión"
      class="register-button"
      mat-icon-button
      [routerLink]="['/Users/auth/login']">
      <mat-icon>login</mat-icon>
    </button>

    <h3>Bienvenido</h3>
    <h4>Esperamos que disfrutes el uso de nuestros servicios.</h4>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Usuario</mat-label>
        <mat-icon matIconPrefix>person</mat-icon>
        <input matInput type="text" required formControlName="username" />
        <mat-error
          *ngFor="
            let error of getErrors(form.get('username')!, 'Usuario', {
              usernameNotAvailable: 'ya se encuentra en uso.'
            })
          ">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" class="margin-top">
        <mat-label>Correo electrónico</mat-label>
        <mat-icon matIconPrefix>mail</mat-icon>
        <input matInput type="email" required formControlName="email" />
        <mat-error
          *ngFor="
            let error of getErrors(form.get('email')!, 'Correo electrónico', {
              emailNotAvailable: 'ya se encuentra en uso.'
            })
          ">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" class="margin-top">
        <mat-label>Contraseña</mat-label>
        <mat-icon matIconPrefix>lock</mat-icon>
        <button
          mat-icon-button
          matIconSuffix
          (click)="hidePassword = !hidePassword">
          <mat-icon>{{
            hidePassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          required
          formControlName="password" />
        <mat-error
          *ngFor="
            let error of getErrors(form.get('password')!, 'Contraseña', {
              minlength: 'debe contener al menos 8 caracteres',
              lowercase: 'debe contener al menos una letra minuscula',
              uppercase: 'debe contener al menos una letra mayúscula',
              symbol: 'debe contener al menos un carácter especial como @$!%*?&'
            })
          ">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field
        subscriptSizing="dynamic"
        class="margin-top margin-bottom">
        <mat-label>Confirmar Contraseña</mat-label>
        <mat-icon matIconPrefix>lock</mat-icon>
        <button
          mat-icon-button
          matIconSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword">
          <mat-icon>{{
            hideConfirmPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          required
          formControlName="confirmPassword" />
        <mat-error
          *ngFor="
            let error of getErrors(
              form.get('confirmPassword')!,
              'Confirmar contraseña',
              {
                matchField: 'debe coincidir con Contraseña.'
              }
            )
          ">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid || isBusy"
        type="submit">
        Registrarse
      </button>
    </form>
  </mat-card-content>
</mat-card>
