<div mat-dialog-content *ngIf="isBusy">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isBusy">
  <h1 mat-dialog-title *ngIf="product">Esquema de {{ product.name }}</h1>

  <div mat-dialog-content>
    <h4>Categorías</h4>
    <mat-chip-listbox #categoriesListBox multiple>
      <mat-chip-option
        *ngFor="let category of categories"
        [matTooltip]="category.description"
        [value]="category.id"
      >
        {{ category.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <mat-divider vertical></mat-divider>

    <h4>Atributos</h4>
    <mat-chip-listbox #attributesListBox multiple>
      <mat-chip-option
        *ngFor="let attribute of attributes"
        [value]="attribute.id"
      >
        {{ attribute.name }}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="warn">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
    <button mat-flat-button mat-dialog-close color="primary">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </div>
</div>
