<div mat-dialog-content *ngIf="isBusy">
  <mat-spinner></mat-spinner>
</div>

<div [hidden]="isBusy">
  <h1 mat-dialog-title *ngIf="product">Esquema de {{ product.name }}</h1>

  <div mat-dialog-content>
    <h4>Categorías</h4>

    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <mat-label> Búsqueda </mat-label>
      <input matInput [formControl]="this.categorySearchControl" />
    </mat-form-field>

    <mat-chip-listbox #categoriesChips multiple>
      <mat-chip-option
        *ngFor="let category of categories"
        [matTooltip]="category.description"
        [value]="category.id"
        [ngStyle]="
          this.filteredCategories.includes(category)
            ? { display: 'inline-flex' }
            : { display: 'none' }
        "
      >
        {{ category.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <mat-divider vertical></mat-divider>

    <h4>Atributos</h4>

    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <mat-label> Búsqueda </mat-label>
      <input matInput [formControl]="this.attributeSearchControl" />
    </mat-form-field>

    <mat-chip-listbox #attributesChips multiple>
      <mat-chip-option
        *ngFor="let attribute of attributes"
        [value]="attribute.id"
        [ngStyle]="
          this.filteredAttributes.includes(attribute)
            ? { display: 'inline-flex' }
            : { display: 'none' }
        "
      >
        {{ attribute.name }}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="warn">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
    <button mat-flat-button color="primary" (click)="onSaveChanges()">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </div>
</div>
