<mat-card>
  <mat-card-content>
    <button
      matTooltip="Ir a inicio"
      class="back-button"
      mat-icon-button
      [routerLink]="['/']">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="password">Contraseña:</label>
        <input
          type="password"
          name="password"
          formControlName="password"
          required
          placeholder="***************" />

        <div class="errors">
          <p
            *ngFor="
              let error of getErrors(form.get('password')!, 'Contraseña')
            ">
            {{ error }}
          </p>
        </div>
      </div>

      <div class="field">
        <label for="confirm-password">Confirmar contraseña:</label>
        <input
          type="password"
          name="confirm-password"
          formControlName="confirmPassword"
          required
          placeholder="***************" />

        <div class="errors">
          <p
            *ngFor="
              let error of getErrors(
                form.get('confirmPassword')!,
                'Confirmar contraseña'
              )
            ">
            {{ error }}
          </p>
        </div>
      </div>

      <button type="submit" [disabled]="this.form.invalid">Restablecer</button>
    </form>
  </mat-card-content>
</mat-card>
