<mat-card>
  <mat-card-content>
    <button
      matTooltip="Ir a inicio"
      class="back-button"
      mat-icon-button
      [routerLink]="['/']">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <h3>Ingresa la nueva contraseña</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field subscriptSizing="dynamic" class="margin-top">
        <mat-label>Contraseña</mat-label>
        <mat-icon matIconPrefix>lock</mat-icon>
        <button
          mat-icon-button
          matIconSuffix
          (click)="hidePassword = !hidePassword">
          <mat-icon>{{
            hidePassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          required
          formControlName="password" />
        <mat-error
          *ngFor="
            let error of getErrors(form.get('password')!, 'Contraseña', {
              minlength: 'debe contener al menos 8 caracteres',
              lowercase: 'debe contener al menos una letra minuscula',
              uppercase: 'debe contener al menos una letra mayúscula',
              symbol: 'debe contener al menos un carácter especial como @$!%*?&'
            })
          ">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" class="last-field">
        <mat-label>Confirmar Contraseña</mat-label>
        <mat-icon matIconPrefix>lock</mat-icon>
        <button
          mat-icon-button
          matIconSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword">
          <mat-icon>{{
            hideConfirmPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          required
          formControlName="confirmPassword" />
        <mat-error
          *ngFor="
            let error of getErrors(
              form.get('confirmPassword')!,
              'Confirmar contraseña',
              { matchField: 'debe coincidir' }
            )
          ">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="this.form.invalid">
        Restablecer
      </button>
    </form>
  </mat-card-content>
</mat-card>
