<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <button
      [disabled]="isBusy"
      matTooltip="Ir a inicio"
      class="back-button"
      mat-icon-button
      [routerLink]="['/']">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <button
      [disabled]="isBusy"
      matTooltip="Ir a registro"
      class="register-button"
      mat-icon-button
      [routerLink]="['/Users/auth/registration']">
      <mat-icon>add</mat-icon>
    </button>

    <h3>¡Hola de nuevo!</h3>
    <h4>Es bueno tenerte de vuelta</h4>

    <div class="error-message" *ngIf="loginResponse">
      <span>{{ loginResponse.message }}</span>
      <br />
      <a
        *ngIf="accountLocked"
        [routerLink]="['/Users/auth/request-account-unlock']"
        >Desbloquea tu cuenta</a
      >
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-icon matIconPrefix>person</mat-icon>
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" required formControlName="email" />
        <mat-error
          *ngFor="
            let error of getErrors(form.get('email')!, 'Correo electrónico', {
              email: 'no es un correo válido.'
            })
          ">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-icon matIconPrefix>lock</mat-icon>
        <button
          type="button"
          mat-icon-button
          matIconSuffix
          (click)="hidePassword = !hidePassword">
          <mat-icon>{{
            hidePassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          required
          formControlName="password" />
        <mat-error
          *ngFor="let error of getErrors(form.get('password')!, 'Contraseña')">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <button
        [disabled]="form.invalid || isBusy"
        mat-flat-button
        color="primary"
        type="submit">
        Iniciar Sesión
      </button>
    </form>

    <span
      >¿Olvidaste tu contraseña?
      <a [routerLink]="['/Users/auth/request-password-reset']"
        >Recuperar</a
      ></span
    >
  </mat-card-content>
</mat-card>
